body {
  background-color: #add8e6;
  font-size: 25px;
  font-family: "Stick No Bills", sans-serif;
}
.main-header {
  color: #ff0;
  text-align: center;
  border: 3px solid #ff0000;
  border-radius: 30px;
  width: 25vw;
  margin: 30px auto;
}

span {
  color: #ff0000;
}

.blogpost1 {
  border: 3px solid #000000;
  border-radius: 30px;
  text-align: center;
  margin: 30px auto;
  width: 30vw;
  height: 30vh;
  background-image: url(img/Goku\ background\ img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.blogpost2 {
  border: 3px solid #000000;
  border-radius: 30px;
  text-align: center;
  margin: 30px auto;
  width: 30vw;
  height: 30vh;
  background-image: url(img/vegeta\ background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #000000;
}
.blogpost3 {
  border: 3px solid #000000;
  border-radius: 30px;
  text-align: center;
  margin: 30px auto;
  width: 30vw;
  height: 30vh;
  background-image: url(img/frieza\ background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ff0000;
}

.Name {
  color: #000000;
  text-align: center;
  border: 3px solid #ff0000;
  border-radius: 30px;
  width: 25vw;
  margin: 30px auto;

}


}
