body {
  background-color: #87CEFA;
  font-family: 'Stick No Bills', sans-serif;
  font-size: 25px;
}
.main-header {
  color: #ff0;
  border: 3px solid #ff0000;
  border-radius: 30px;
  padding: 10px;
  width: 42vh;
  text-align: center;
  margin: 30px auto;
}

.BlogPost1 {
  height: 30vh;
  width: 50vh;
  margin: 30px auto;
  border: 3px solid #000000;
  border-radius: 30px;
  text-align: center;
  background-image: url(img/Goku\ background\ img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.BlogPost2 {
  height: 30vh;
  width: 50vh;
  margin: 30px auto;
  border: 3px solid #000000;
  border-radius: 30px;
  text-align: center;
  background-image: url(img/vegeta\ background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000000;
}

.BlogPost3 {
  height: 30vh;
  width: 50vh;
  margin: 30px auto;
  border: 3px solid #000000;
  border-radius: 30px;
  text-align: center;
  background-image: url(https://wallpapercave.com/wp/o72eC1m.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ff0000;
}

.nameandclass {
  border: 3px solid #ff0000;
  border-radius: 30px;
  padding: 10px;
  width: 42vh;
  text-align: center;
  margin: 30px auto;
}


