body {
  background-color: #00f;
  font-size: 25px;
}
.main-header {
  color: #ff0;
}

h1 {
  text-align: center;
}

.goku {
  background-image: url(img/Goku\ background\ img.png);
  background-size: 480px auto;
  height: 30vh;
  width: 50vh;
  margin: 30px auto;
}
.Character1 {
  text-align: center;
}

.vegeta {
  background-image: url(img/vegeta\ background.jpg);
  height: 50vh;
}

.freiza {
  height: 50vh;
}
